<div class="button-overview-component">
	<h2>Dialog Component</h2>
	<p>Based on the <a target="_blank" href="https://v2.clarity.design/modals">Clarity Modals</a></p>
	<div class="clr-row">
		<div class="clr-col-12">
			<h3>Examples</h3>
		</div>
		<div class="clr-col-12">
			<tds-card title="Basic Dialog">
				<tds-button (click)="openDialog()">Open</tds-button>
			</tds-card>
		</div>
		<div class="clr-col-12">
			<tds-card title="Multiple Dialogs">
				<tds-button (click)="openMultipleDialogs()">Open</tds-button>
			</tds-card>
		</div>
		<div class="clr-col-12">
			<tds-card title="No Background Dialogs">
				<tds-button (click)="openNoBackgroundDialogs()">Open</tds-button>
			</tds-card>
		</div>
	</div>

	<div class="clr-row">
		<div class="clr-col-12">
			<h3>Usage Examples</h3>
		</div>
		<div class="clr-col-12">
			<tds-card
				title="1.- Dynamic Layout Directive"
				code='<tds-dialog></tds-dialog>'
			>
				<p>Copy and Paste the following code in your app into a root level template, like app.component.html</p>
				<tds-dialog></tds-dialog>
			</tds-card>
		</div>
		<div class="clr-col-12">
			<tds-card
					title="2.- HTML Layout"
					code='LE CODE'
			>
				<p>All Dialogs have the same basic structure</p>
			</tds-card>
		</div>
	</div>
</div>
