<h2>Combobox Overview</h2>
<p>
	This combobox is a kendo-combobox, styled to look like a clarity select dropdown, while maintaining its additional
	search and clear functionality.
</p>

<h4>Useful Links</h4>
<ul>
	<li>
		<a href="https://www.telerik.com/kendo-angular-ui/components/dropdowns/combobox/" target="_blank"
			>Kendo Combobox</a
		>
	</li>
</ul>

<div class="clr-row">
	<div class="clr-col-12">
		<h3>Usage Examples</h3>
	</div>

	<div class="clr-col-12">
		<tds-card
			title="Basic Kendo Combobox"
			description=""
			code='
<kendo-combobox
	[data]="[
		"Baseball",
		"Basketball",
		"Cricket",
		"Field Hockey",
		"Football",
		"Table Tennis",
		"Tennis",
		"Volleyball"
	]"
	[allowCustom]="true"
>
</kendo-combobox>'
		>
			<kendo-combobox
				[data]="[
					'Baseball',
					'Basketball',
					'Cricket',
					'Field Hockey',
					'Football',
					'Table Tennis',
					'Tennis',
					'Volleyball'
				]"
				[allowCustom]="true"
			>
			</kendo-combobox>
			<div style="display: block; height: 250px;"></div>
		</tds-card>
	</div>
</div>
