<div class="grid-overview-component">
	<h4>Task Details Grid</h4>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio nisi. Vestibulum dignissim eget massa
		sit amet feugiat. Quisque auctor mattis quam eu suscipit. Morbi ipsum risus, feugiat vitae sem at, tincidunt
		elementum magna
	</p>

	<kendo-grid
		[filterable]="tasksGrid.filterable"
		[sortable]="tasksGrid.sortable"
		[pageSize]="tasksPage.take"
		[skip]="tasksPage.skip"
		[resizable]="tasksGrid.resizable"
		[pageable]="tasksGrid.pageable"
		[data]="tasksData"
		[columnMenu]="tasksGrid.columnMenu"
		[ngClass]="{ 'hide-filter': !showTasksFilter }"
		(pageChange)="pageChangeTaskGrid($event)"
	>
		<ng-template kendoGridToolbarTemplate [position]="'top'">
			<div class="clr-row">
				<div class="grid-label clr-col-4">
					<strong>Grid Title</strong>
					<span>- grid description</span>
				</div>
				<div class="grid-actions clr-col-8">
					<div class="btn-group btn-sm btn-link">
						<tds-button icon="plus">Create Task</tds-button>
						<tds-button
							[disabled]="!hasFilterApplied('columnModelTaskGrid')"
							(click)="onClearFilters('columnModelTaskGrid')"
							icon="close"
							>Clear filters</tds-button
						>
						<tds-button icon="repeat"></tds-button>
					</div>
				</div>
			</div>
		</ng-template>

		<ng-template kendoGridColumnMenuTemplate let-service="service" let-column="column">
			<div class="dropdown-menu">
				<clr-radio-container>
					<clr-radio-wrapper class="k-column-list-item" *ngFor="let menu of columnMenu">
						<input type="radio" clrRadio name="radioMenu" />
						<label>{{ menu }}</label>
					</clr-radio-wrapper>
				</clr-radio-container>
			</div>
		</ng-template>

		<kendo-grid-column width="70" [filterable]="false" [columnMenu]="false" field="ActionsColumn">
			<ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
				<tds-button [flat]="true" (click)="toggleTasksFilter()">
					<clr-icon shape="filter" class="is-solid">
						<span *ngIf="filterCount('columnModelTaskGrid'); let filters" class="badge badge-warning">{{
							filters
						}}</span>
					</clr-icon>
				</tds-button>
			</ng-template>

			<ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
				<div class="action-button btn-group btn-link">
					<clr-dropdown>
						<tds-button icon="ellipsis-vertical" clrDropdownTrigger></tds-button>
						<clr-dropdown-menu *clrIfOpen>
							<a clrDropdownItem>Edit Asset</a>
						</clr-dropdown-menu>
					</clr-dropdown>
				</div>
			</ng-template>
		</kendo-grid-column>

		<kendo-grid-column
			*ngFor="let column of columnModelTaskGrid"
			[field]="column.field"
			[locked]="column.locked"
			[title]="column.title"
			[width]="column.width"
			[columnMenu]="column.columnMenu"
			[filterable]="column.filterable"
			[ngClass]="{ 'hide-filter': !showDetailsFilter }"
		>
			<ng-template kendoGridFilterCellTemplate let-filter>
				<div class="filter-input">
					<input
						clrInput
						type="text"
						class="text-filter"
						[name]="column.field"
						[(ngModel)]="column.filter"
						placeholder="Filter"
					/>
					<tds-button
						*ngIf="column.filter"
						(click)="onClearFilter(column)"
						[title]="'Clear Filter'"
						icon="times-circle"
						[small]="true"
						[flat]="true"
					>
					</tds-button>
				</div>
			</ng-template>

			<!-- task Number -->
			<ng-template kendoGridCellTemplate *ngIf="column.isActionable" let-dataItem>
				<span class="actionable-column">{{ dataItem[column.field] }}</span>
			</ng-template>
		</kendo-grid-column>

		<!-- Row detail -->
		<ng-template kendoGridDetailTemplate let-dataItem>
			<section class="btn-group btn-sm btn-link">
				<tds-button theme="success">Start</tds-button>
				<tds-button>Done</tds-button>
				<tds-button>Details</tds-button>
				<tds-button>Assign to me</tds-button>
				<tds-button>Neighborhood</tds-button>
			</section>
			<section class="btn-group btn-sm btn-link">
				<span>Delay:</span>
				<tds-button>1 day</tds-button>
				<tds-button>2 days</tds-button>
				<tds-button>7 days</tds-button>
			</section>
		</ng-template>

		<ng-template kendoPagerTemplate let-total="total" let-totalPages="totalPages" let-currentPage="currentPage">
			<div class="clr-col-4"></div>
			<div class="grid-paging clr-col-8">
				<div class="pager-items">
					Records per page
					<select clrSelect (change)="changeTaskTake($event.target.value)">
						<option *ngFor="let size of tasksGrid.pageable.pageSizes" [value]="size">{{ size }}</option>
					</select>
				</div>
				<div class="pager-items">{{ total }} records</div>
				<div class="pager-items">
					<div class="btn-group btn-link">
						<tds-button
							class="pagination-first"
							icon="step-forward-2 down"
							[disabled]="currentPage <= 1"
							(click)="changeTaskPage(1)"
						>
						</tds-button>
						<tds-button
							class="pagination-previous"
							icon="angle left"
							[disabled]="currentPage <= 1"
							(click)="changeTaskPage(currentPage - 1)"
						>
						</tds-button>
						<span class="page-selection">
							<input
								clrInput
								type="number"
								min="1"
								[max]="totalPages"
								[value]="currentPage"
								name="currentPage"
								(change)="changeTaskPage($event.target.value)"
							/>
							/ {{ totalPages }}
						</span>
						<tds-button
							class="pagination-next"
							icon="angle right"
							[disabled]="currentPage >= totalPages"
							(click)="changeTaskPage(currentPage + 1)"
						>
						</tds-button>
						<tds-button
							class="pagination-last"
							icon="step-forward-2 up"
							[disabled]="currentPage >= totalPages"
							(click)="changeTaskPage(totalPages)"
						>
						</tds-button>
					</div>
				</div>
			</div>
		</ng-template>
	</kendo-grid>

	<h4>All Assets Grid</h4>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio nisi. Vestibulum dignissim eget massa
		sit amet feugiat. Quisque auctor mattis quam eu suscipit. Morbi ipsum risus, feugiat vitae sem at, tincidunt
		elementum magna
	</p>

	<kendo-grid
		[filterable]="assetsGrid.filterable"
		[sortable]="assetsGrid.sortable"
		[pageSize]="assetsPage.take"
		[skip]="assetsPage.skip"
		[resizable]="assetsGrid.resizable"
		[pageable]="assetsGrid.pageable"
		[data]="assetsData"
		[columnMenu]="assetsGrid.columnMenu"
		[ngClass]="{ 'hide-filter': !showAssetsFilter }"
		(pageChange)="pageChangeAssetsGrid($event)"
	>
		<ng-template kendoGridColumnMenuTemplate let-service="service" let-column="column">
			<div class="dropdown-menu">
				<clr-radio-container>
					<clr-radio-wrapper class="k-column-list-item" *ngFor="let menu of columnMenu">
						<input type="radio" clrRadio name="radioMenu" />
						<label>{{ menu }}</label>
					</clr-radio-wrapper>
				</clr-radio-container>
			</div>
		</ng-template>

		<kendo-grid-column width="30" [columnMenu]="false">
			<ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
				<input
					clrCheckbox
					type="checkbox"
					name="checkbox_checkall"
					(change)="toggleAssetsChecks($event.target.checked)"
				/>
			</ng-template>
			<ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
				<input
					clrCheckbox
					type="checkbox"
					id="checkbox_{{ dataItem.id }}-{{ rowIndex }}"
					name="checkbox_{{ dataItem.id }}-{{ rowIndex }}"
					[(ngModel)]="dataItem.checked"
					(change)="selectRow(dataItem, $event.target.checked)"
				/>
			</ng-template>
		</kendo-grid-column>

		<kendo-grid-column width="40" [filterable]="false" [columnMenu]="false" field="ActionsColumn">
			<ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
				<tds-button [flat]="true" (click)="toggleAssetsFilter()">
					<clr-icon shape="filter" class="is-solid">
						<span *ngIf="filterCount('columnModelAssetsGrid'); let filters" class="badge badge-warning">{{
							filters
						}}</span>
					</clr-icon>
				</tds-button>
			</ng-template>
			<ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
				<div class="action-button btn-group btn-link">
					<clr-dropdown>
						<tds-button icon="ellipsis-vertical" clrDropdownTrigger></tds-button>
						<clr-dropdown-menu *clrIfOpen>
							<a clrDropdownItem>Edit Asset</a>
							<a clrDropdownItem>Create Task</a>
							<a clrDropdownItem>Comment</a>
							<a clrDropdownItem>Clone</a>
						</clr-dropdown-menu>
					</clr-dropdown>
				</div>
			</ng-template>
		</kendo-grid-column>

		<kendo-grid-column
			*ngFor="let column of columnModelAssetsGrid"
			[field]="column.field"
			[locked]="column.locked"
			[title]="column.title"
			[width]="column.width"
			[columnMenu]="column.columnMenu"
			[filterable]="column.filterable"
		>
			<ng-template kendoGridFilterCellTemplate let-filter>
				<div class="filter-input">
					<input
						clrInput
						type="text"
						class="text-filter"
						[name]="column.field"
						[(ngModel)]="column.filter"
						placeholder="Filter"
					/>
					<tds-button
						*ngIf="column.filter"
						(click)="onClearFilter(column)"
						[title]="'Clear Filter'"
						icon="times-circle"
						[small]="true"
						[flat]="true"
					>
					</tds-button>
				</div>
			</ng-template>

			<!-- task Number -->
			<ng-template kendoGridCellTemplate *ngIf="column.isActionable" let-dataItem>
				<span class="actionable-column">{{ dataItem[column.field] }}</span>
			</ng-template>
		</kendo-grid-column>

		<ng-template kendoGridToolbarTemplate [position]="'top'">
			<div class="clr-row">
				<div class="grid-label clr-col-4">
					<strong>Grid Title</strong>
					<span>- grid description</span>
				</div>
				<div class="grid-actions clr-col-8">
					<div class="btn-group btn-sm btn-link">
						<tds-button icon="plus">Create Task</tds-button>
						<tds-button [disabled]="selectedRows === 0">
							<clr-icon shape="edit">
								<span *ngIf="selectedRows > 0" class="badge badge-info">{{ selectedRows }}</span>
							</clr-icon>
							Bulk Action
						</tds-button>
						<tds-button
							[disabled]="!hasFilterApplied('columnModelAssetsGrid')"
							(click)="onClearFilters('columnModelAssetsGrid')"
							icon="close"
							>Clear filters</tds-button
						>
						<tds-button icon="repeat"></tds-button>
					</div>
				</div>
			</div>
		</ng-template>

		<ng-template kendoPagerTemplate let-totalAssets="total" let-totalAssetsPages="totalPages" let-currentAssetsPage="currentPage">
				<div class="clr-col-4"></div>
				<div class="grid-paging clr-col-8">
					<div class="pager-items">
						Records per page
						<select clrSelect (change)="changeAssetTake($event.target.value)">
							<option *ngFor="let size of assetsGrid.pageable.pageSizes" [value]="size">{{ size }}</option>
						</select>
					</div>
					<div class="pager-items">{{ totalAssets }} records</div>
					<div class="pager-items">
						<div class="btn-group btn-link">
							<tds-button
								class="pagination-first"
								icon="step-forward-2 down"
								[disabled]="currentAssetsPage <= 1"
								(click)="changeAssetPage(1)"
							>
							</tds-button>
							<tds-button
								class="pagination-previous"
								icon="angle left"
								[disabled]="currentAssetsPage <= 1"
								(click)="changeAssetPage(currentAssetsPage - 1)"
							>
							</tds-button>
							<span class="page-selection">
								<input
									clrInput
									type="number"
									min="1"
									[max]="totalAssetsPages"
									[value]="currentAssetsPage"
									name="currentAssetsPage"
									(change)="changeAssetPage($event.target.value)"
								/>
								/ {{ totalAssetsPages }}
							</span>
							<tds-button
								class="pagination-next"
								icon="angle right"
								[disabled]="currentAssetsPage >= totalAssetsPages"
								(click)="changeAssetPage(currentAssetsPage + 1)"
							>
							</tds-button>
							<tds-button
								class="pagination-last"
								icon="step-forward-2 up"
								[disabled]="currentAssetsPage >= totalAssetsPages"
								(click)="changeAssetPage(totalAssetsPages)"
							>
							</tds-button>
						</div>
					</div>
				</div>
			</ng-template>
		</kendo-grid>
</div>
