<div class="grid-overview-component">
	<h4>Task Details Grid</h4>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio nisi. Vestibulum dignissim eget massa
		sit amet feugiat. Quisque auctor mattis quam eu suscipit. Morbi ipsum risus, feugiat vitae sem at, tincidunt
		elementum magna
	</p>
	<kendo-grid
		[filterable]="tasksGrid.filterable"
		[sortable]="tasksGrid.sortable"
		[pageSize]="tasksPage.take"
		[skip]="tasksPage.skip"
		[resizable]="tasksGrid.resizable"
		[pageable]="tasksGrid.pageable"
		[data]="tasksData"
		[columnMenu]="tasksGrid.columnMenu"
		[ngClass]="{ 'hide-filter': !showTasksFilter }"
		(pageChange)="pageChangeTaskGrid($event)"
	>
		<ng-template kendoGridToolbarTemplate [position]="'top'">
			<div class="clr-row">
				<div class="grid-label clr-col-4">
					<strong>Grid Title</strong>
					<span>- grid description</span>
				</div>
				<div class="grid-actions clr-col-8">
					<clr-checkbox-wrapper>
						<input clrCheckbox type="checkbox"/>
						<label>Check One</label>
					</clr-checkbox-wrapper>
					<clr-checkbox-wrapper>
						<input clrCheckbox type="checkbox"/>
						<label>Check Two</label>
					</clr-checkbox-wrapper>
					<div class="btn-sm">
						<tds-button icon="plus">Create Task</tds-button>
						<tds-button icon="repeat"></tds-button>
					</div>
				</div>
			</div>
		</ng-template>

		<ng-template kendoGridColumnMenuTemplate let-service="service" let-column="column">
			<div class="dropdown-menu">
				<clr-radio-container>
					<clr-radio-wrapper class="k-column-list-item" *ngFor="let menu of columnMenu">
						<input type="radio" clrRadio name="radioMenu"/>
						<label>{{ menu }}</label>
					</clr-radio-wrapper>
				</clr-radio-container>
			</div>
		</ng-template>

		<kendo-grid-column [width]="80"
											 [columnMenu]="false"
											 [headerClass]="'text-center'"
											 [minResizableWidth]="80"
											 [field]="'ActionsColumn'"
											 [sortable]="false">
			<ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
				<tds-grid-show-hide-filters-button [filterCount]="filterCount('columnModelTaskGrid')"
																					 (toggleFilters)="toggleTasksFilter()">
				</tds-grid-show-hide-filters-button>
			</ng-template>
			<!-- Clear all Filters button -->
			<ng-template kendoGridFilterCellTemplate let-filter>
				<tds-grid-clear-all-filters-button [show]="hasFilterApplied('columnModelTaskGrid')"
																					 (clearFilters)="onClearFilters('columnModelTaskGrid')">
				</tds-grid-clear-all-filters-button>
			</ng-template>
			<ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
				<div class="action-button btn-group btn-link">
					<clr-dropdown>
						<tds-button icon="ellipsis-vertical" clrDropdownTrigger></tds-button>
						<clr-dropdown-menu *clrIfOpen>
							<a clrDropdownItem>Edit Asset</a>
						</clr-dropdown-menu>
					</clr-dropdown>
				</div>
			</ng-template>
		</kendo-grid-column>

		<kendo-grid-column
			*ngFor="let column of columnModelTaskGrid"
			[field]="column.field"
			[locked]="column.locked"
			[title]="column.title"
			[width]="column.width"
			[columnMenu]="column.columnMenu"
			[filterable]="column.filterable"
		>
			<ng-template kendoGridFilterCellTemplate let-filter>
				<div class="filter-input">
					<tds-grid-filter-input
						name="{{column.property}}"
						[value]="column.filter || ''"
						[filterType]="column.type"
						[placeholder]="'Filter'"
						(filter)="column.filter = $event">
					</tds-grid-filter-input>
				</div>
			</ng-template>

			<!-- task Number -->
			<ng-template kendoGridCellTemplate *ngIf="column.isActionable" let-dataItem>
				<span class="actionable-column">{{ dataItem[column.field] }}</span>
			</ng-template>
			<ng-template kendoGridCellTemplate *ngIf="!column.isActionable" let-dataItem>
				<div [ngSwitch]="column.field">
					<span *ngSwitchCase="'status'">
						<span [ngClass]="'status status-' + dataItem[column.field]" [ngSwitch]="dataItem[column.field]">
							<clr-icon *ngSwitchCase="'Ready'" shape="thumbs-up" class="is-solid"></clr-icon>
							<clr-spinner *ngSwitchCase="'Started'" clrInline class="static"></clr-spinner>
							<clr-icon *ngSwitchCase="'Hold'" shape="pause" class="is-solid"></clr-icon>
							<clr-icon *ngSwitchCase="'Completed'" shape="check" class="is-solid"></clr-icon>
							<clr-icon *ngSwitchDefault shape="minus" class="is-solid"></clr-icon>
						</span>
						{{ dataItem[column.field] }}
					</span>
					<span *ngSwitchDefault>{{ dataItem[column.field] }}</span>
				</div>
			</ng-template>
		</kendo-grid-column>

		<!-- Row detail -->
		<ng-template kendoGridDetailTemplate let-dataItem>
			<section class="btn-group btn-sm btn-link">
				<tds-button theme="success">Start</tds-button>
				<tds-button>Done</tds-button>
				<tds-button>Details</tds-button>
				<tds-button>Assign to me</tds-button>
				<tds-button>Neighborhood</tds-button>
			</section>
			<section class="btn-group btn-sm btn-link">
				<span>Delay:</span>
				<tds-button>1 day</tds-button>
				<tds-button>2 days</tds-button>
				<tds-button>7 days</tds-button>
			</section>
		</ng-template>

		<ng-template kendoPagerTemplate let-total="total" let-totalPages="totalPages" let-currentPage="currentPage">
			<div class="clr-col-4"></div>
			<div class="clr-col-8">
				<tds-grid-pager
					[total]="total"
					[totalPages]="totalPages"
					[currentPage]="currentPage"
					[pageSize]="tasksPage.take"
					[pageSizes]="tasksGrid.pageable.pageSizes"
					(pageChange)="pageChangeTaskGrid($event)"
				></tds-grid-pager>
			</div>
		</ng-template>
	</kendo-grid>

	<h4>All Assets Grid</h4>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio nisi. Vestibulum dignissim eget massa
		sit amet feugiat. Quisque auctor mattis quam eu suscipit. Morbi ipsum risus, feugiat vitae sem at, tincidunt
		elementum magna
	</p>

	<kendo-grid
		class="fixed-context-menu row-actions-4-children"
		[filterable]="assetsGrid.filterable"
		[sortable]="assetsGrid.sortable"
		[pageSize]="assetsPage.take"
		[skip]="assetsPage.skip"
		[resizable]="assetsGrid.resizable"
		[pageable]="assetsGrid.pageable"
		[data]="assetsData"
		[columnMenu]="assetsGrid.columnMenu"
		[ngClass]="{ 'hide-filter': !showAssetsFilter }"
	>
		<ng-template kendoGridColumnMenuTemplate let-service="service" let-column="column">
			<div class="dropdown-menu">
				<clr-radio-container>
					<clr-radio-wrapper class="k-column-list-item" *ngFor="let menu of columnMenu">
						<input type="radio" clrRadio name="radioMenu"/>
						<label>{{ menu }}</label>
					</clr-radio-wrapper>
				</clr-radio-container>
			</div>
		</ng-template>

		<kendo-grid-column width="30" [columnMenu]="false">
			<ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
				<input
					clrCheckbox
					type="checkbox"
					name="checkbox_checkall"
					(change)="toggleAssetsChecks($event.target.checked)"
				/>
			</ng-template>
			<ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
				<input
					clrCheckbox
					type="checkbox"
					id="checkbox_{{ dataItem.id }}-{{ rowIndex }}"
					name="checkbox_{{ dataItem.id }}-{{ rowIndex }}"
					[(ngModel)]="dataItem.checked"
					(change)="selectRow(dataItem, $event.target.checked)"
				/>
			</ng-template>
		</kendo-grid-column>

		<kendo-grid-column width="40" [columnMenu]="false" field="ActionsColumn" [headerClass]="'text-center'">
			<ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
				<tds-grid-show-hide-filters-button [filterCount]="filterCount('columnModelAssetsGrid')"
																					 (toggleFilters)="toggleAssetsFilter()">
				</tds-grid-show-hide-filters-button>
			</ng-template>
			<!-- Clear all Filters button -->
			<ng-template kendoGridFilterCellTemplate let-filter>
				<tds-grid-clear-all-filters-button [show]="hasFilterApplied('columnModelAssetsGrid')"
																					 (clearFilters)="onClearFilters('columnModelAssetsGrid')">
				</tds-grid-clear-all-filters-button>
			</ng-template>
			<ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
				<div class="action-button btn-link">
					<clr-dropdown>
						<tds-button icon="ellipsis-vertical" clrDropdownTrigger></tds-button>
						<clr-dropdown-menu *clrIfOpen>
							<a clrDropdownItem>Edit Asset</a>
							<a clrDropdownItem>Create Task</a>
							<a clrDropdownItem>Comment</a>
							<a clrDropdownItem>Clone</a>
						</clr-dropdown-menu>
					</clr-dropdown>
				</div>
			</ng-template>
		</kendo-grid-column>

		<kendo-grid-column
			*ngFor="let column of columnModelAssetsGrid"
			[field]="column.field"
			[locked]="column.locked"
			[title]="column.title"
			[width]="column.width"
			[columnMenu]="column.columnMenu"
			[filterable]="column.filterable"
		>
			<ng-template kendoGridFilterCellTemplate let-filter>
				<div class="filter-input">
					<tds-grid-filter-input
						name="{{column.property}}"
						[value]="column.filter || ''"
						[filterType]="column.type"
						[placeholder]="'Filter'"
						(filter)="column.filter = $event">
					</tds-grid-filter-input>
				</div>
			</ng-template>

			<!-- task Number -->
			<ng-template kendoGridCellTemplate *ngIf="column.isActionable" let-dataItem>
				<span class="actionable-column">{{ dataItem[column.field] }}</span>
			</ng-template>
		</kendo-grid-column>

		<ng-template kendoGridToolbarTemplate [position]="'top'">
			<div class="clr-row">
				<div class="grid-label clr-col-4">
					<strong>Grid Title</strong>
					<span>- grid description</span>
				</div>
				<div class="grid-actions clr-col-8">
					<div class="btn-sm">
						<tds-button icon="plus">Create Task</tds-button>
						<tds-button [disabled]="selectedRows === 0">
							<clr-icon shape="edit">
								<span *ngIf="selectedRows > 0" class="badge badge-info">{{ selectedRows }}</span>
							</clr-icon>
							Bulk Action
						</tds-button>
						<tds-button icon="repeat"></tds-button>
					</div>
				</div>
			</div>
		</ng-template>

		<ng-template kendoPagerTemplate let-total="total" let-totalPages="totalPages" let-currentPage="currentPage">
			<div class="clr-col-4"></div>
			<div class="clr-col-8">
				<tds-grid-pager
					[total]="total"
					[totalPages]="totalPages"
					[currentPage]="currentPage"
					[pageSizes]="assetsGrid.pageable.pageSizes"
					(pageChange)="pageChangeAssetGrid($event)"
				>
				</tds-grid-pager>
			</div>
		</ng-template>
	</kendo-grid>

	<div class="clr-row">
		<div class="clr-col-12">
			<h3>Usage Example</h3>
		</div>
		<div class="clr-col-12">
			<tds-card
				title="Grid Pager Component Usage with Kendo Grid"
				code='
<kendo-grid>
	...
	//other grid components
	...
	<ng-template kendoPagerTemplate let-total="total" let-totalPages="totalPages" let-currentPage="currentPage">
		<div class="clr-col-4"></div>
		<div class="clr-col-8">
			<tds-grid-pager
				[total]="total"
				[totalPages]="totalPages"
				[currentPage]="currentPage"
				[pageSizes]="[5, 10, 25, 50, 100]"
				(pageChange)="pageChangeEvent($event)"
			></tds-grid-pager>
		</div>
	</ng-template>
</kendo-grid>'
			>
			</tds-card>
		</div>

		<!--<div class="clr-col-12">
			<tds-card
				title="Kendo Grid Styled as TDS Table"
				code='
<kendo-grid class="tds-table">
	...
	//other grid components
	...
	<ng-template kendoPagerTemplate let-total="total" let-totalPages="totalPages" let-currentPage="currentPage">
		<div class="clr-col-4"></div>
		<div class="clr-col-8">
			<tds-grid-pager
				[total]="total"
				[totalPages]="totalPages"
				[currentPage]="currentPage"
				[pageSizes]="[5, 10, 25, 50, 100]"
				(pageChange)="pageChangeEvent($event)"
			></tds-grid-pager>
		</div>
	</ng-template>
</kendo-grid>'
			>
				<kendo-grid
					[sortable]="tasksGrid.sortable"
					[data]="tasksData"
					[columnMenu]="tasksGrid.columnMenu"
					class="tds-table"
				>
					<ng-template kendoGridToolbarTemplate [position]="'top'">
						<div class="clr-row">
							<div class="grid-label clr-col-4">
								<strong>Grid Title</strong>
							</div>
						</div>
					</ng-template>

					<kendo-grid-column
						*ngFor="let column of columnModelTaskGrid"
						[field]="column.field"
						[locked]="column.locked"
						[title]="column.title"
						[width]="column.width"
						[columnMenu]="column.columnMenu"
						[filterable]="column.filterable"
					>
						<ng-template kendoGridFilterCellTemplate let-filter>
							<div class="filter-input">
								<input
									clrInput
									type="text"
									class="text-filter"
									[name]="column.field"
									[(ngModel)]="column.filter"
									placeholder="Filter"
								/>
								<tds-button
									*ngIf="column.filter"
									(click)="onClearFilter(column)"
									[title]="'Clear Filter'"
									icon="times-circle"
									[small]="true"
									[flat]="true"
								>
								</tds-button>
							</div>
						</ng-template>

						&lt;!&ndash; task Number &ndash;&gt;
						<ng-template kendoGridCellTemplate *ngIf="column.isActionable" let-dataItem>
							<span class="actionable-column">{{ dataItem[column.field] }}</span>
						</ng-template>
						<ng-template kendoGridCellTemplate *ngIf="!column.isActionable" let-dataItem>
							<div [ngSwitch]="column.field">
								<span *ngSwitchCase="'status'">
									<span
										[ngClass]="'status status-' + dataItem[column.field]"
										[ngSwitch]="dataItem[column.field]"
									>
										<clr-icon *ngSwitchCase="'Ready'" shape="thumbs-up" class="is-solid"></clr-icon>
										<clr-spinner *ngSwitchCase="'Started'" clrInline class="static"></clr-spinner>
										<clr-icon *ngSwitchCase="'Hold'" shape="pause" class="is-solid"></clr-icon>
										<clr-icon *ngSwitchCase="'Completed'" shape="check" class="is-solid"></clr-icon>
										<clr-icon *ngSwitchDefault shape="minus" class="is-solid"></clr-icon>
									</span>
									{{ dataItem[column.field] }}
								</span>
								<span *ngSwitchDefault>{{ dataItem[column.field] }}</span>
							</div>
						</ng-template>
					</kendo-grid-column>

					&lt;!&ndash; Row detail &ndash;&gt;
					<ng-template kendoGridDetailTemplate let-dataItem>
						<section class="btn-group btn-sm btn-link">
							<tds-button theme="success">Start</tds-button>
							<tds-button>Done</tds-button>
							<tds-button>Details</tds-button>
							<tds-button>Assign to me</tds-button>
							<tds-button>Neighborhood</tds-button>
						</section>
						<section class="btn-group btn-sm btn-link">
							<span>Delay:</span>
							<tds-button>1 day</tds-button>
							<tds-button>2 days</tds-button>
							<tds-button>7 days</tds-button>
						</section>
					</ng-template>
				</kendo-grid>
			</tds-card>
		</div>-->
		<!--<div class="clr-col-12">
			<tds-card
				title="Basic Table with Header, styled as a TDS Table"
				code='
<div class="tds-table">
	<div class="clr-row">
		<div class="grid-label clr-col-4">
			<strong>Supports</strong>
		</div>
	</div>
	<table>
		//table content
		...
	</table>
</div>'
			>
				<div class="tds-table">
					<div class="clr-row">
						<div class="grid-label clr-col-4">
							<strong>Supports</strong>
						</div>
					</div>
					<table>
						<thead>
							<tr>
								<th>Class</th>
								<th>Name</th>
								<th>Bundle</th>
								<th>Type</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Application</td>
								<td>AGPM</td>
								<td>M1-Phy</td>
								<td>Runs-On</td>
								<td>Validated</td>
							</tr>
							<tr>
								<td>Application</td>
								<td>AGPM</td>
								<td>M1-Phy</td>
								<td>Runs-On</td>
								<td>Validated</td>
							</tr>
							<tr>
								<td>Application</td>
								<td>AGPM</td>
								<td>M1-Phy</td>
								<td>Runs-On</td>
								<td>Validated</td>
							</tr>
							<tr>
								<td>Application</td>
								<td>AGPM</td>
								<td>TBD</td>
								<td>Backup</td>
								<td>Validated</td>
							</tr>
						</tbody>
					</table>
				</div>
			</tds-card>
		</div>-->

	</div>

	<h4>Grid Classes Usage</h4>

	<kendo-grid
		class="fixed-context-menu row-actions-4-children page-height"
		[filterable]="assetsGrid.filterable"
		[sortable]="assetsGrid.sortable"
		[pageSize]="25"
		[skip]="assetsPage.skip"
		[resizable]="assetsGrid.resizable"
		[pageable]="assetsGrid.pageable"
		[data]="assetsData"
		[columnMenu]="assetsGrid.columnMenu"
		[ngClass]="{ 'hide-filter': !showAssetsFilter }"
	>
		<ng-template kendoGridColumnMenuTemplate let-service="service" let-column="column">
			<div class="dropdown-menu">
				<clr-radio-container>
					<clr-radio-wrapper class="k-column-list-item" *ngFor="let menu of columnMenu">
						<input type="radio" clrRadio name="radioMenu"/>
						<label>{{ menu }}</label>
					</clr-radio-wrapper>
				</clr-radio-container>
			</div>
		</ng-template>

		<kendo-grid-column width="30" [columnMenu]="false">
			<ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
				<input
					clrCheckbox
					type="checkbox"
					name="checkbox_checkall"
					(change)="toggleAssetsChecks($event.target.checked)"
				/>
			</ng-template>
			<ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
				<input
					clrCheckbox
					type="checkbox"
					id="checkbox_{{ dataItem.id }}-{{ rowIndex }}"
					name="checkbox_{{ dataItem.id }}-{{ rowIndex }}"
					[(ngModel)]="dataItem.checked"
					(change)="selectRow(dataItem, $event.target.checked)"
				/>
			</ng-template>
		</kendo-grid-column>

		<kendo-grid-column width="40" [columnMenu]="false" field="ActionsColumn" [headerClass]="'text-center'">
			<ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
				<tds-grid-show-hide-filters-button [filterCount]="filterCount('columnModelAssetsGrid')"
																					 (toggleFilters)="toggleAssetsFilter()">
				</tds-grid-show-hide-filters-button>
			</ng-template>
			<!-- Clear all Filters button -->
			<ng-template kendoGridFilterCellTemplate let-filter>
				<tds-grid-clear-all-filters-button [show]="hasFilterApplied('columnModelAssetsGrid')"
																					 (clearFilters)="onClearFilters('columnModelAssetsGrid')">
				</tds-grid-clear-all-filters-button>
			</ng-template>
			<ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
				<div class="action-button btn-link">
					<clr-dropdown>
						<tds-button icon="ellipsis-vertical" clrDropdownTrigger></tds-button>
						<clr-dropdown-menu *clrIfOpen>
							<a clrDropdownItem>Edit Asset</a>
							<a clrDropdownItem>Create Task</a>
							<a clrDropdownItem>Comment</a>
							<a clrDropdownItem>Clone</a>
						</clr-dropdown-menu>
					</clr-dropdown>
				</div>
			</ng-template>
		</kendo-grid-column>

		<kendo-grid-column
			*ngFor="let column of columnModelAssetsGrid"
			[field]="column.field"
			[locked]="column.locked"
			[title]="column.title"
			[width]="column.width"
			[columnMenu]="column.columnMenu"
			[filterable]="column.filterable"
		>
			<ng-template kendoGridFilterCellTemplate let-filter>
				<div class="filter-input">
					<tds-grid-filter-input
						name="{{column.property}}"
						[value]="column.filter || ''"
						[filterType]="column.type"
						[placeholder]="'Filter'"
						(filter)="column.filter = $event">
					</tds-grid-filter-input>
				</div>
			</ng-template>

			<!-- task Number -->
			<ng-template kendoGridCellTemplate *ngIf="column.isActionable" let-dataItem>
				<span class="actionable-column">{{ dataItem[column.field] }}</span>
			</ng-template>
		</kendo-grid-column>

		<ng-template kendoGridToolbarTemplate [position]="'top'">
			<div class="clr-row">
				<div class="grid-label clr-col-4">
					<strong>Grid Title</strong>
					<span>- grid description</span>
				</div>
				<div class="grid-actions clr-col-8">
					<div class="btn-sm">
						<tds-button icon="plus">Create Task</tds-button>
						<tds-button [disabled]="selectedRows === 0">
							<clr-icon shape="edit">
								<span *ngIf="selectedRows > 0" class="badge badge-info">{{ selectedRows }}</span>
							</clr-icon>
							Bulk Action
						</tds-button>
						<tds-button icon="repeat"></tds-button>
					</div>
				</div>
			</div>
		</ng-template>

		<ng-template kendoPagerTemplate let-total="total" let-totalPages="totalPages" let-currentPage="currentPage">
			<div class="clr-col-4"></div>
			<div class="clr-col-8">
				<tds-grid-pager
					[total]="total"
					[totalPages]="totalPages"
					[currentPage]="currentPage"
					[pageSizes]="assetsGrid.pageable.pageSizes"
					(pageChange)="pageChangeAssetGrid($event)"
				>
				</tds-grid-pager>
			</div>
		</ng-template>
	</kendo-grid>
</div>
