<div class="main-container">
	<div class="alert alert-app-level"></div>
	<header class="header header-6">
		<div class="branding">
			TDS LOGO
		</div>
		<div class="header-nav">
			<a href="javascript://" class="active nav-link nav-text">Components</a>
			<a href="javascript://" class="nav-link nav-text">Services</a>
			<a href="javascript://" class="nav-link nav-text">Pipes</a>
			<a href="javascript://" class="nav-link nav-text">Modules</a>
		</div>
	</header>
	<div class="content-container">
		<clr-vertical-nav>
			<label class="nav-header">TDS Components</label>
			<div class="nav-divider"></div>
			<label class="nav-header">Dropdown Components</label>
			<a clrVerticalNavLink *ngIf="this.routeData.url[1]" routerLink="component/dropdown/overview"
				[ngClass]="{ active: this.routeData.url[1]['path'] === 'dropdown' }">Dropdown</a>
			<a clrVerticalNavLink *ngIf="this.routeData.url[1]" routerLink="component/combobox/overview"
				[ngClass]="{ active: this.routeData.url[1]['path'] === 'combobox' }">Combobox</a>
			<a clrVerticalNavLink *ngIf="this.routeData.url[1]" routerLink="component/multiselect/overview"
				[ngClass]="{ active: this.routeData.url[1]['path'] === 'multiselect' }">Multiselect</a>
			<div class="nav-divider"></div>
			<label class="nav-header">Tab Components</label>

			<a clrVerticalNavLink *ngIf="this.routeData.url[1]" routerLink="component/tabs/overview"
				[ngClass]="{ active: this.routeData.url[1]['path'] === 'tabs' }">Tabs</a>
			<a clrVerticalNavLink *ngIf="this.routeData.url[1]" routerLink="component/tab-scroller/overview"
				[ngClass]="{ active: this.routeData.url[1]['path'] === 'tab-scroller' }">Tab Scroller</a>
			<div class="nav-divider"></div>
			<label class="nav-header">Grid Components</label>
			<a clrVerticalNavLink *ngIf="this.routeData.url[1]" routerLink="component/tds-grid/overview"
				[ngClass]="{ active: this.routeData.url[1]['path'] === 'tds-grid' }">TDS Grid Component</a>
			<a clrVerticalNavLink *ngIf="this.routeData.url[1]" routerLink="component/grid/overview"
				[ngClass]="{ active: this.routeData.url[1]['path'] === 'grid' }">
				Grid
			</a>
			<a clrVerticalNavLink *ngIf="this.routeData.url[1]" routerLink="component/grid/full"
				[ngClass]="{ active: this.routeData.url[2]['path'] === 'full' }">
				Full Grid
			</a>
			<a clrVerticalNavLink *ngIf="this.routeData.url[1]" routerLink="component/grid-header/overview"
				[ngClass]="{ active: this.routeData.url[1]['path'] === 'grid-header' }">Grid Header Components</a>
			<a clrVerticalNavLink *ngIf="this.routeData.url[1]" routerLink="component/grid-internal/overview"
				[ngClass]="{ active: this.routeData.url[1]['path'] === 'grid-internal' }">Internal Grid Components</a>
			<div class="nav-divider"></div>
			<label class="nav-header">Dialog Components</label>
			<a clrVerticalNavLink *ngIf="this.routeData.url[1]" routerLink="component/dialog/overview"
				[ngClass]="{ active: this.routeData.url[1]['path'] === 'dialog' }">Dialog</a>
			<a clrVerticalNavLink *ngIf="this.routeData.url[1]" routerLink="component/dialog-confirm/overview"
				[ngClass]="{ active: this.routeData.url[1]['path'] === 'dialog-confirm' }">Dialog Confirm</a>
			<a clrVerticalNavLink *ngIf="this.routeData.url[1]" routerLink="component/dialog-notify/overview"
				[ngClass]="{ active: this.routeData.url[1]['path'] === 'dialog-notify' }">Dialog Notify</a>
			<a clrVerticalNavLink *ngIf="this.routeData.url[1]" routerLink="component/dialog-dropdown/overview"
				[ngClass]="{ active: this.routeData.url[1]['path'] === 'dialog-dropdown' }">Dialog with Dropdown</a>
			<div class="nav-divider"></div>
			<label class="nav-header">Other Components</label>
			<a clrVerticalNavLink *ngIf="this.routeData.url[1]" routerLink="component/button/overview"
				[ngClass]="{ active: this.routeData.url[1]['path'] === 'button' }">Button</a>
			<a clrVerticalNavLink *ngIf="this.routeData.url[1]" routerLink="component/radial-progress/overview"
				[ngClass]="{ active: this.routeData.url[1]['path'] === 'radial-progress' }">Radial Progress</a>
			<a clrVerticalNavLink *ngIf="this.routeData.url[1]" routerLink="component/diagram-layout/overview"
				[ngClass]="{ active: this.routeData.url[1]['path'] === 'diagram-layout' }">Diagram Layout</a>
		</clr-vertical-nav>

		<div class="content-area" *ngIf="this.routeData.url[2]">
			<clr-tabs>
				<clr-tab>
					<button (click)="routeTo(sectionTab.OVERVIEW)" clrTabLink
						[ngClass]="{ active: this.routeData.url[2]['path'] === 'overview' }">
						OVERVIEW
					</button>
				</clr-tab>
				<clr-tab>
					<button (click)="routeTo(sectionTab.API)" clrTabLink
						[ngClass]="{ active: this.routeData.url[2]['path'] === 'api' }">
						API
					</button>
				</clr-tab>
			</clr-tabs>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>