<div class="grid-overview-component">
    <h4>Kendo Grid</h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu odio nisi. Vestibulum dignissim eget massa sit amet feugiat. Quisque auctor mattis quam eu suscipit. Morbi ipsum risus, feugiat vitae sem at, tincidunt elementum magna
    </p>
    <kendo-grid [data]="data">
        <kendo-grid-column field="name" width="130"></kendo-grid-column>
        <kendo-grid-column field="role" width="200"></kendo-grid-column>
    </kendo-grid>
</div>
