<tds-dialog></tds-dialog>
<div class="button-overview-component">
	<h2>Dialog Notify Component</h2>
	<p>Based on the <a target="_blank" href="https://v2.clarity.design/modals">Clarity Modals</a> with extensible Action buttons and configurable options.</p>
	<div class="clr-row">
		<div class="clr-col-12">
			<h3>Examples</h3>
		</div>
		<div class="clr-col-12">
			<tds-card title="Confirm Dialog">
				<tds-button (click)="openNotify()">Open</tds-button>
			</tds-card>
		</div>
	</div>

	<div class="clr-row">
		<div class="clr-col-12">
			<h3>Usage Examples</h3>
		</div>
		<div class="clr-col-12">
			<tds-card
					title="Typescript implementation"
					code='
this.dialogService.notify({
	title: "Alert",
	content: "This is a notification Message"
}).subscribe((data: any) => {
	console.log("Notification Action was: ", data);
});
'
			>
				<p>Confirm is an specific method available from the DialogService</p>
			</tds-card>
		</div>
	</div>
</div>
